@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('gambar/bglogin.png');
  background-size: cover;
  background-attachment: fixed;
}
/*menu login*/
.form-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

/*  KOTAK FORM  */
.register-container {
  width: 450px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}
.register-container header {
  color: #222222;   
}

.register-container header {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.top span {
  font-size: 0.9rem;
  color: #eaeaea;
}

.top span a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.input-box {
  position: relative;
  margin: 12px 0;
}

.input-field {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.45);
  font-size: 15px;
  color: #333;
}

/* Button login dan register */
.submit {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  color: #222222;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover {
  background: #e2e2e2;
}