body {
    font-family: "Montserrat", sans-serif;
}

.produk-title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.kategori-btn {
    background: #272727;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}

.kategori-btn:hover {
    transform: scale(1.05);
    background: #131111;
}

.produk-card {
    border: none;
    overflow: hidden;
    text-align: center;
}

.produk-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    transition: .3s;
}

.produk-card img:hover {
    transform: scale(1.05);
}
